.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

button {
    width: 145px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    color: var(--white);
    font: 1.125em/45px var(--roboto);
    letter-spacing: 0.050em;
    cursor: pointer;
    background-color: var(--blue);
    border: 1px solid var(--blue);    
}

button:hover {
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
}

h1{
    font: 2.875em/69px var(--roboto);
    color: var(--black);
    letter-spacing: 0.080em;
}

h1::first-letter {
    color: var(--blue);
}

p {
    font: 1.125em/27px var(--roboto);
    letter-spacing: 0.050em;
    color: var(--black);
}
