/* heder and nav */

header {
    width: 100%;
    height: 60px;
}

.fixed-header {
    position: fixed;
    background-color: rgba(230, 230, 230, 0.6);
    z-index: 999;
}

nav {
    max-width: 1200px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 999;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav>li:first-child {
    margin-right: auto;
    padding-left: 10px;
}

nav div.menu-items-container>li>a {
    text-decoration: none;
    position: relative;
    font: 1.125em/normal var(--roboto);
    color: var(--black);
    letter-spacing: 0.080em;
    padding: 5px 10px;
    margin-right: 5px;
}

nav .toggle-menu {
    display: none;
}

nav div.menu-items-container>li>a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    transition: all .15s linear;
    background-color: var(--blue);
}

nav div.menu-items-container>li>a:hover::after {
    transform: scaleX(1);
}

/* responsive nav code */
@media screen and (max-width: 768px) {

    nav .toggle-menu {
        display: block;
        width: 41px;
        height: 33px;
        background: url('../../images/icons/hamburger-menu.svg') no-repeat center;
        background-size: cover;
        margin-right: 10px;
        cursor: pointer;
    }

    nav div.menu-items-container>li {
        width: 100%;
        height: 50px;
        display: block;
        text-align: center;
    }

    nav div.menu-items-container {
        width: 100%;
        background-color: rgba(230, 230, 230, 0.6);
        position: absolute;
        top: 60px;
        left: 0px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height .15s linear;
        z-index: 999;
    }

    nav div.menu-items-container>li>a {
        line-height: 50px;
    }

    .active-nav {
        max-height: 200px !important;
        overflow: none !important;
    }

}