#about-page {
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 500px;
}

.about-container {
    width: 100%;
    min-height: 400px;
}

.what-we-do-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8% 0;
}

.what-we-do-container>h2 {
    margin-bottom: 1.8%;
}

.what-we-do-container>p {
    width: 60%;
    text-align: center;
}

.goals-container {
    width: 95%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.goals-container>div {
    width: 45%;
    text-align: center;
    margin-bottom: 8%;
}

.goals-container>div>h2 {
    margin-bottom: 1.8%;
}


.team-container {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-container>.team-heading {
    width: 100%;
    text-align: center;
}

.team-container>.team-heading>h2 {
    margin-bottom: 1.8%;
}

.team-content-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 8% 0 2% 0;
}

.arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    background-size: cover;
    cursor: pointer;
    background: transparent;
}

.left {
    background: url('../../images/arrows/leftarrow.svg') no-repeat center;
}

.right {
    background: url('../../images/arrows/rightarrow.svg') no-repeat center;
}

.arrow:hover {
    box-shadow: 0 0 10px var(--dark-gray);
}


/* about page rwd */

@media only screen and (max-width: 768px) {

    .team-content-container {
        width: 95%;
    }

    .what-we-do-container>p {
        width: 95%;
        text-align: center;
    }

    .goals-container {
        flex-direction: column;
    }

    .goals-container>div {
        width: 95%;

    }
}
