#services-page {
    width: 100%;
    height: 100%;
    min-height: 500px;
    min-width: 300px;
}

#services-page>.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

#services-page>.wrapper>h2 {
    margin: 5% 0 6% 0;
}

.services-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 8%;
}

.services-container>div {
    width: 98%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services-container>div>img {
    width: 89px;
    height: 67px;
}

.services-container>div>h3 {
    margin: 6% 0 6% 0;
}

.testmonials-container {
    width: 100%;
    min-height: 480px;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testmonials-card-container {
    position: relative;
    width: 100%;
    min-height: 300px;
    margin: 1.3% 0;
    overflow: hidden;
}

.testmonials-card-container>div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 100%;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5%;
    transition: all .6s linear;
}

.testmonials-card-container>div>h3 {
    margin: 2.2% 0;
}

.testmonials-card-container>div:first-child {
    transform: translateX(-170%);
}

.testmonials-card-container>div:last-child {
    transform: translateX(70%);
}

.indicators {
    width: 8%;
    display: flex;
    justify-content: space-between;
}

.indicators>span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--blue);
    opacity: 0.3;
    transition: all 0.3s linear;
}

.indicators>.active {
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .testmonials-card-container>div {
        width: 45%;
    }

    .testmonials-card-container {
        margin: 1.5% 0;
    }

    .indicators {
        width: 10%;
    }
}

@media screen and (max-width: 992px) {
    .services-container {
        grid-template-columns: repeat(2, auto);
    }

    .services-container>div {
        margin-bottom: 7%;
    }

    .services-container>div>h3 {
        margin: 4% 0 4% 0;
    }

    .testmonials-card-container {
        margin: 2% 0;
    }

    .testmonials-card-container>div {
        min-width: 500px;
    }

    .indicators {
        width: 13%;
    }
}

@media screen and (max-width: 768px) {
    
    #services-page>.wrapper {
        padding-top: 10%;
    }

    .indicators {
        width: 16.5%;
    }

    .testmonials-card-container {
        margin: 2.2% 0;
    }
}

@media screen and (max-width: 550px) {
    
    #services-page>.wrapper {
        padding-top: 18%;
    }

    .services-container {
        grid-template-columns: repeat(1, auto);
    }

    .services-container>div>p {
        width: 80%;
    }


    .testmonials-card-container {
        margin: 5% 0;
    }

    .testmonials-card-container>div {
        min-width: 290px;
        width: 85%;
    }

    .indicators {
        width: 23.8%;
    }
}


@media screen and (max-width: 400px) {
    .indicators {
        width: 28%;
    }
}